.comment {
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
}

.comment-user-profile-pic {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

.comment-username {
    font-weight: 600;
}

.username-and-options-container {
    display: flex;
}

.everything-but-the-user-profile-pic {
    width: 950px;
}

.comment-content {
    font-weight: 300;
    width: inherit;
    overflow-wrap: break-word;
}

.comment-edit-form {
    display: flex;
    gap: 10px;
}

.comment-update-submit {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 3px;
}
