.comment {
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
}

.comment-user-profile-pic {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

.comment-username {
    font-weight: 600;
}

.username-and-options-container {
    display: flex;
}

.comment-content {
    font-weight: 300;
}
