.posts-container {
    margin: 0 auto;
    width: 800px;
    gap: 20px;
}

.post-container {
    padding: 24px 0;
}

.post {
    display: flex;
    height: 84px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.post::before {
    border-radius: 5px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffffff 50%, #f8e2ff 100%);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
}

.post:hover::before {
    background-color: #fff;
    opacity: 1;
}

.post-image-container {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.post-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.post-text {
    margin-left: 16px;
    height: 100%;
}

.post-text h2, p {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
}

.post-text h2 {
    font-weight: 600;
    /* position: absolute; */
}

.post-text p {
    color: #4b587c;
}

.post-options-icon {
    opacity: 0;
}

.post-options-icon.mouse-over {
    opacity: 1;
}

.comment-count {
    margin-top: 12px;
}
