.modal-overlay {
    position: fixed;
    height: 400px;
    overflow: auto;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-styles {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
}
