.post-details-container {
    background-color: white;
    width: 1000px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

.duck-name {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 26px;
}

.media-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.duck-media {
    height: auto;
    width: 50%;
}

.duck-description {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 13px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-input-form {
    display: flex;
    gap: 10px;
}

.comment-input-container {
    height: 27px;
}

.comment-input {
    width: 200px;
    height: 100%;
    padding: 0;
}

.comment-submit-button {
    background-color:blueviolet;
    padding: 7px 13px;
    border: none;
    border-radius: 3px;
}

.comment-submit-text {
    width: 28px;
    height: 16px;
    color: white;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
