.view-port {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 40px;
}

.login-form-container {
    border: 1px solid black;
    border-radius: 3px;
    width: 300px;
    height: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    /* justify-content: space-between; */
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.email-input {
    width: 200px;
    font-size: 18px;
}

.password-input {
    width: 200px;
    font-size: 18px;
}

.login-button {
    width: 200px;
    height: 30px;
}

.errors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50;
    overflow-y: auto;
}
